/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black border-black;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

